<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Barra de navegación con ion-segment centrado -->
  <div class="navigation-container">
    <ion-segment mode="ios">
      <ion-segment-button (click)="navigateTo('addincidentes')" value="addincidentes">
        Añadir Incidente
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('verincidentes')" value="verincidentes">
        Ver Incidentes
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('notificaciones')" value="notificaciones">
        Notificaciones
      </ion-segment-button>
      <ion-segment-button (click)="navigateTo('perfil')" value="perfil">
        Perfil
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-content>
