<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="navigateTo('addincidentes')" value="addincidentes">
    Añadir Incidente
  </ion-button>
  <ion-button (click)="navigateTo('verincidentes')" value="verincidentes">
    Ver Incidentes
  </ion-button>
  <ion-button (click)="navigateTo('notificaciones')" value="notificaciones">
    Notificaciones
  </ion-button>
  <ion-button (click)="navigateTo('perfil')" value="perfil">
    Perfil
  </ion-button>
</ion-content>
