<ion-content [fullscreen]="true" class="ion-padding content-wrapper">
  <!-- Contenedor externo para centrar el formulario -->
  <div class="outer-wrapper">
    <div id="container">
      <div *ngIf="!isRegisterMode" class="form-container">
        <strong>Iniciar Sesión</strong>
        <ion-item>
          <ion-label position="stacked">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" placeholder="Ingresa tu nombre de usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Recordar Usuario</ion-label>
          <ion-checkbox [(ngModel)]="rememberMe" slot="start"></ion-checkbox>
        </ion-item>
        <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
        <ion-button expand="block" color="light" (click)="toggleRegisterMode()">Registrarse</ion-button>
      </div>

      <div *ngIf="isRegisterMode" class="form-container">
        <strong>Registrarse</strong>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input [(ngModel)]="firstName" type="text" placeholder="Ingresa tu nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellidos</ion-label>
          <ion-input [(ngModel)]="lastName" type="text" placeholder="Ingresa tus apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username" type="text" placeholder="Ingresa tu nombre de usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" type="password" placeholder="Ingresa tu contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirma tu contraseña"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="register()">Registrarse</ion-button>
        <ion-button expand="block" color="light" (click)="toggleRegisterMode()">Volver a Iniciar Sesión</ion-button>
      </div>
    </div>
  </div>
</ion-content>
