/* Fondo gris oscuro para todo el contenido */
.content-wrapper {
  background-color: #1c1c1c; /* Fondo gris oscuro */
  height: 100vh;
}

/* Contenedor externo para centrar en el medio de la pantalla */
.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Contenedor del formulario */
#container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background-color: #2e2e2e; /* Gris ligeramente más claro que el fondo */
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Título y etiquetas */
#container strong {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}

/* Estilos para ion-item */
ion-item {
  --border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --background: #424242; /* Fondo de campo de texto */
  --color: #ffffff; /* Texto en blanco */
}

/* Botones */
ion-button {
  margin-top: 10px;
  width: 100%;
  --border-radius: 8px;
}

ion-button[color="light"] {
  --background: #f0f0f0;
  --color: #007bff;
}

